@import './styles/reset.scss';
@import './styles/global.scss';
@import './styles/login.scss';
@import './styles/boards.scss';
@import './styles/board.scss';
@import './styles/topbar.scss';
@import './styles/createBoard.scss';
@import './styles/createColumn.scss';
@import './styles/createTask.scss';
@import './styles/home.scss';
@import './styles/editBoardForm.scss';
@import './styles/taskModal.scss';
@import './styles/columnSelect.scss';

.backend-errors {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
}


button {

  &:disabled{
    pointer-events: none;
    background-color: grey;
  }
}
