<div class="login-page">
  <a routerLink="/">
    <img src="/assets/trello-logo.svg" class="trello-main-logo" alt="trello Logo" />
  </a>
  <div class="form-container">
    <div class="login-header">Register to Trello</div>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <app-input
        type="email"
        placeholder="Enter your email"
        inputId="email"
        formControlName="email"
      ></app-input>
      <app-input
        placeholder="Enter your name"
        inputId="name"
        formControlName="username"
      ></app-input>
      <app-input
        type="password"
        placeholder="Enter your password"
        inputId="password"
        formControlName="password"
      ></app-input>
      <div class="backend-errors" *ngIf="authService.backendErrors$">{{ authService.backendErrors$ | async }}</div>
      <button [disabled]="registrationForm.invalid" type="submit" class="login-submit-button">Register</button>
    </form>
    <div class="bottom-form-links">
      <a routerLink="/login" class="register-link">Sign in</a>
    </div>
  </div>
</div>
