.form-control {
  margin: 0 0 1.2em;
}

.invalid {
  color: red;
  input {
    border-color: red;
    color: red;
  }
}

input {
  font-weight: 500;
  font-size: 14px;
  width: 100%;
  background-color: #fafbfc;
  border: 2px solid #dfe1e6;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
  height: 44px;
  padding: 7px;
  -webkit-transition:
    background-color 0.2s ease-in-out 0s,
    border-color 0.2s ease-in-out 0s;
  transition:
    background-color 0.2s ease-in-out 0s,
    border-color 0.2s ease-in-out 0s;
  margin-bottom: 5px;
}

label {
  &.required {
    &::after {
      content: '*';
      color: red;
    }
  }
}
